<div class="row">   
    <form class="form-horizontal" role="form">
        <div class="form-group" ng-repeat="field in fields">
            <label class="control-label col-sm-2" for="input_{{field.label}}">{{field.label}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input_{{field.label}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Salvar</button>
            </div>
        </div>
    </form>
</div> 