<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>Insider Oil</title>

	<!-- CSS -->
	<link rel="stylesheet" href="app/libs/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="stylesheets/style.css">

	<!-- JS -->
	<script src="app/libs/angular/angular.js"></script>
	<script src="app/libs/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="app/libs/angular-route/angular-route.js"></script>
	<script src="app/libs/angular-cookies/angular-cookies.js"></script>
	<script src="app/libs/jquery/dist/jquery.js"></script>

	<!-- ANGULAR CUSTOM -->
	<script src="app/controllers/MainCtrl.js"></script>
	<script src="app/controllers/WellsCtrl.js"></script>
	<script src="app/controllers/DrillingRigsCtrl.js"></script>
	<script src="app/app.js"></script>
	<script src="app/appRoutes.js"></script>
	<script src="app/services/session.js"></script>
	<script src="app/services/server.js"></script>
</head>
<body ng-app="InsiderOilApp">
<div class="container">
	
	<!-- HEADER -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top" ng-controller="MainController">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/app/">Insider Oil</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/app/wells">Poços</a></li>
                <li><a href="/app/drilling_rigs">Sondas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{username}}</a></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
	</nav>

	<!-- ANGULAR DYNAMIC CONTENT -->
	<div ng-view></div>

</div>
</body>
</html>
