<h1>{{viewParams.tableLabel}}</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="gridField in viewParams.gridFields">{{viewParams.fields[gridField].label}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td ng-repeat="gridField in viewParams.gridFields">{{record[gridField]}}</td>
            </tr>
        </tbody>     
    </table>
</div>
<button class="btn btn-large btn-success" ng-click="createItem()" >Adicionar {{viewParams.tableLabel}}</button><br><br>
<button class="btn btn-large btn-success" ng-click="showMap()" ng-show="viewParams.hasMap">Mapa</button>
<br><br><br>
 <h4>Enviar arquivo Excel</h4>
  <button class="btn btn-large btn-success" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          ngf-pattern="'.xls,.xlsx,.txt,.jpg" ngf-max-height="1000" ngf-max-size="10MB">
      Escolha o arquivo</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
  </div>     
  {{errorMsg}} {{fileUploadStatus}}