<h1>Dados</h1>
<br>
<span ng-repeat="item in stack">
    >
    <a href="/app/tree?nodeId={{item.id}}">{{item.label}}</a>
</span>
<br><br>
<p ng-repeat="item in items">
    <a href="/app/tree?nodeId={{item.id}}">{{item.label}}</a>
</p>
<div class="main-table table-responsive bootstrap-table">
    <div class="table-options">
                    <div class="col-md-4 col-sm-6">
                        <div class="table-options-name">
                            <h1>Drilling Rigs</h1>
                            <button type="button" class="btn btn-default">
                                <i class="target"></i>Seguir
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="table-options-filter">
                            Resultados / Paginas:
                        </div>
                        <div class="table-options-pages">
                            Filtrar por:
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    Contratada
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Contratada</a>
                                    </li>
                                    <li>
                                        <a href="#">Sonda</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    <table id="mainTable" class="table" cellspacing="0" width="100%"></table>
</div>