<table class="table table-bordered" border="1">
    <tr ng-repeat="field in record">
        <td width="100">
            <span class="control-label col-sm-2">{{field.label}}:</span>
        </td>
        <td>
            <div ng-if="field.ref" >
                <a class="col-sm-10" href="/app/view_record?source={{field.model}}&id={{field.value}}" >{{field.name}}</a>    
            </div>
            <div ng-else-if="field.isList">
                <span ng-repeat="item in field.value" class="col-sm-10">{{item}}</span>
            </div>
            <div ng-else-if="field.isProjectList">
                <div ng-repeat="item in field.value" >
                    <a class="col-sm-10" href="/app/view_record?source={{item.model}}&id={{item.id}}" >{{item.name}}</a>
                    <span ng-if="item.description"> - Descrição: {{item.description}}</span> 
                </div>
            </div>
            <div ng-else-if="field.isPhoto">
                <img class="col-sm-10" src="/db_image?dataSource={{source}}&id={{id}}&fieldName={{field.name}}" ></img> 
            </div>
            <div ng-else>
                <span class="col-sm-10">{{field.value}}</span>
            </div>
        </td>
    </tr>
</table>
<br><br><br>
<hr>
<br><br>
<div ng-repeat="referencedObject in referencedObjects">
    <filtered-objects ng-model="referencedObject" ng-id="id">
</div>
<br><br><br>
<hr>
<br><br>
<h4 ng-if="news.length > 0" class="col-sm-10">Notícias:</h4>
<br>
<p ng-repeat="newsItem in news">
    <b><span class="col-sm-10">{{newsItem.title}}</span></b><br>
    <small class="col-sm-10">{{newsItem.formattedCreatedAt}}</small><br><br><br>
    <span ng-bind-html="newsItem.content" class="col-sm-10"/><br><br><br>
</p>