 <div class="main-boxes">
    <div class="row">
        <div class="col-md-6">
            <div class="box-wrapper">
                <div class="box-head">
                    Informações
                </div>
                <div class="box-body">
                    <ul>
                        <li ng-repeat="field in record">    
                            <div class="col-md-6">
                                {{field.label}}
                            </div>
                            <div ng-if="field.ref"  class="col-md-6">
                                <a class="col-sm-10" href="/app/view_record?source={{field.model}}&id={{field.value}}" >{{field.name}}</a>    
                            </div>
                            <div ng-else-if="field.isLink" class="col-md-6">
                                <a class="col-sm-10" href="{{field.value}}" target="_blank">{{field.value}}</a>
                            </div>
                            <div ng-else-if="field.isHTML" class="col-md-6">
                                <span ng-bind-html="field.value" class="col-sm-10"/></span>
                            </div>
                            <div ng-else-if="field.isList" class="col-md-6">
                                <span ng-repeat="item in field.value" class="col-sm-10">{{item}}</span>
                            </div>
                            <div ng-else-if="field.isProjectList" class="col-md-6">
                                <div ng-repeat="item in field.value" >
                                    <a class="col-sm-10" href="/app/view_record?source={{item.model}}&id={{item.id}}" >{{item.name}}</a>
                                    <span ng-if="item.description"> - Descrição: {{item.description}}</span> 
                                </div>
                            </div>
                            <div ng-else-if="field.isPhoto" class="col-md-6">
                                <img class="col-sm-10" src="/db_image?dataSource={{source}}&id={{id}}&fieldName={{field.name}}" ></img> 
                            </div>
                            <div ng-else class="col-md-6">
                                <span class="col-sm-10">{{field.value}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<show-query-data ng-model="relatedPersons"></show-query-data>
<hr>
<div ng-repeat="referencedObject in referencedObjects">
    <show-query-data ng-model="referencedObject" ng-id="id" /></show-query-data>
    <hr>
</div>

<div class="main-news" ng-if="newsData.length > 0">
    <div class="page-header">
        <h2>Noticias Relacionadas</h2>
    </div>
    <div id="carousel">
    <div class="row">
        <div class="carousel slide fade-quote-carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target=".fade-quote-carousel" data-slide-to="0" class="active"></li>
                <li data-target=".fade-quote-carousel" data-slide-to="1"></li>
                <li data-target=".fade-quote-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="active item">
                    <ul>
                        <li ng-repeat="newsItem in newsData">
                            <a href="/app/view_record?source=News&id={{newsItem.id}}"><h3>{{newsItem.title}}</h3></a>
                            <div class="col-md-12 col-no-padding">
                                <div class="col-md-6 col-no-padding">
                                    <div class="item-related">
                                        Posted:<span>6/10/2016</span>
                                    </div>
                                    <div class="item-related">
                                        Por:<span>Felipus Marcelus</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>