<div class="container">
	<h1>Poços</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Operador</th>
                <th>Estado</th>
                <th>Bacia</th>
            </tr>
        </thead>
        <tbody id="rides_table">
            <tr ng-repeat="well in wells">
                <td>{{well.name}}</td>
                <td>{{well.operator}}</td>
                <td>{{well.state}}</td>
                <td>{{well.bacia}}</td>
            </tr>
        </tbody>     
    </table>
</div>