/node_modules
*.sqlite
*.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.project
/.elasticbeanstalk
/temp.js
/.vscode
/client/angular-app/minified.js
/client/angular-app/out.js.map
/client/angular-app/templates/index.html
typings
out
node_modules
*.map
*.min.js
