<div class="form-group" ng-repeat="field in fields">
    <label class="control-label col-sm-2" for="{{field.htmlId}}">{{field.label}}:</label>
    <div class="col-sm-10">
        <div ng-if="field.hasRef" >
            <select class="form-control" ng-model="values[field.name]" id="{{field.htmlId}}"  >
                <option ng-repeat="value in field.values" value="{{value.id}}" >{{value.label}}</option>
            </select>
        </div>
        <div ng-else-if="field.isDate">
            <p class="input-group" >
                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" id="{{field.htmlId}}" ng-model="values[field.name]" is-open="id_opened" ng-required="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="id_opened=true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>   
        </div>
        <div ng-else >
            <input type="text" class="form-control" id="{{field.htmlId}}" ng-model="values[field.name]"></input>
        </div>
    </div>
</div>