<table style="width:100%">
    <tr>
        <td width="300">
            <table>
                <tr ng-repeat="n in range(modelValues.length)">
                    <td><input type="text" ng-model="modelValues[n]" /><br></td>
                    <td><button class="btn btn-default" ng-click="modelValues.splice(n, 1)">Remover</button></td>
                </tr>
            </table>
        </td>
        <td>
            <button class="btn btn-default" ng-click="modelValues.push('')">Adicionar</button><br>
        </td>
    </tr>
</table>