<div class="table-options">
    <div class="col-md-4 col-sm-6">
        <div class="table-options-name">
            <h1>{{label}}</h1>
        </div>
    </div>
    <div class="col-md-8 col-sm-6">
        <div class="table-options-pages">
            Filtrar por:
            <select ng-model="selectedFilter">
                <option ng-repeat="filterField in filterFields" value="filterField.data" >{{filterField.title}}</option>
            </select>
            <input class="header-input" type="text" ng-model="filterText"></input>
        </div>
    </div>
</div>