<div ng-if="records.length > 0">
    <h4>{{title}}</h4>    
    <div class="main-table">
        <div class="bootstrap-table fixed-table-container"> 
            <div class="fixed-table-body">
                <table class="borderless table table-hover" data-height="500">
                    <thead>
                        <tr>
                            <th ng-repeat="headerItem in header track by $index">{{headerItem}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in records track by $index">
                            <td ng-repeat="record_column in record">
                                <div ng-if="record_column.model">
                                    <a href="/app/view_record?source={{record_column.model}}&id={{record_column.id}}" >{{record_column.value}}</a>   
                                </div>
                                <div ng-else ng-class="{'text-right': record_column.rightAlign}">{{record_column.value}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>